* {
  /* Correccion para evitar el indeseado scroll horizontal */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /* Variables globales */
  --primary-color: red;
  --secondary-color: #c3ecc5;
  --tertiary-color: blue;
  --quarter-color: black;
}
html {
  /* font-size: 62.5%; facilita el uso de medidas rem, usar rem en lugar de px mejora la accesibilidad, ya que permite a los navegadores usar reglas para escalar correctamente el contenido si es necesario */
  /* Nuevos ejemplos de medidas rem equivalentes a px: 1rem = 10px; 1.8rem = 18px; 18rem = 180px; .2rem = 2px;*/
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  min-width: 32rem;
}
@media (orientation: landscape) {
  /* En esta orientación el navbar para mobile estará en un lateral, si las pruebas de diseño no dan resultado cambiar de lugar a uno estándar */
}

@media (orientation: portrait) {
  /* En esta orientación el navbar para mobile estará abajo, imitar este estándar de diseño: https://material.io/components/bottom-navigation */
}
.titulos {
  font-weight: bold;
  text-align: center;
  margin-top: 15px;

  font-family: "Rubik", sans-serif;
}

/* fin novedades */
/*integrantes */
.cajadegradado {
  padding: 1rem;
  background-color: White;
  background-image: linear-gradient(White, var(--secondary-color), white);
  box-shadow: 0 1.5rem 10rem rgba(0, 0, 0, 0.25);
  text-decoration-color: red;
}
.color {
  color: #018a8a;
  font-family: "DM Sans", sans-serif;
}

.otraletra {
  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
}
/*integrantes*/
.contenedor-items-logos {
  margin-top: 2.5rem;
}

.item-logos {
  margin-bottom: 3rem;
}

.logos-cont {
  background-color: var(--secondary-color);
  border-radius: 1.5rem;
  padding-top: 1rem;
  max-width: 20rem;
  height: 10rem;
  margin: auto;
  margin-right: auto;
  margin-left: auto;
}
/*integrantes*/
.boton {
  background-color: var(--secondary-color);
  border-radius: 1.5rem;
  text-decoration: none;
}
.boton:hover {
  box-shadow: 0rem 1rem 1.5rem rgba(0, 0, 0, 0.5);
  transition: 800ms;
  text-decoration: none;
}
