* {
  /* Correccion para evitar el indeseado scroll horizontal */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /* Variables globales */
  --primary-color: red;
  --secondary-color: green;
  --tertiary-color: blue;
  --quarter-color: black;
}
html {
  /* font-size: 62.5%; facilita el uso de medidas rem, usar rem en lugar de px mejora la accesibilidad, ya que permite a los navegadores usar reglas para escalar correctamente el contenido si es necesario */
  /* Nuevos ejemplos de medidas rem equivalentes a px: 1rem = 10px; 1.8rem = 18px; 18rem = 180px; .2rem = 2px;*/
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  min-width: 32rem;
}
