/* Reset lists Bootstrap */
.list-group {
  all: unset;
}
.list-group-item {
  all: unset;
}
.list-group-item.active {
  margin-top: 0;
  margin-bottom: 0;
  background-color: unset;
}
.list-group-item + .list-group-item.active {
  margin-top: 0;
  border-top-width: 0;
}
/* Fin Reset lists Bootstrap */

.myNav {
  background-color: #343a40;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rubik";
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.myNav a {
  color: #f2f2f275;
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.myNav a.active {
  color: #f2f2f2;
}

@media (hover: hover) and (pointer: fine) {
  .myNav a:hover {
    color: #f2f2f2;
    text-decoration: none;
  }
}
.myNav p {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 445px) {
  .myNav p {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 700px) {
  .myHeader {
    background-color: #343a40;
    color: #f2f2f2;
    display: flex;
    height: 5.6rem;
    position: absolute;
    width: 100%;
  }

  .myHeader span {
    font-size: 1.6rem;
    padding-right: 0.2rem;
    vertical-align: bottom;
  }

  .header-info-center {
    padding: 1rem 0;
    flex-grow: 1;
  }

  .header-info-center ul {
    font-size: 1.2rem;
    list-style-type: none;
    padding-left: 1rem;
  }

  .header-info-right {
    font-size: 2.2rem;
    padding: 1rem 0;
  }

  .myNav {
    bottom: 0;
  }

  .myNav a {
    margin: 0.6rem auto;
    padding: 0;
  }

  .extaInfo,
  .myNav svg {
    display: none;
  }
}

@media screen and (min-width: 701px) {
  .myNav {
    top: 0;
  }

  .myNav svg {
    flex-grow: 1;
  }

  .myNav a {
    margin: 0.6rem 1.2rem;
    padding: 0.8rem 0;
  }

  .myNav p {
    display: inline-block;
    font-size: 1.6rem;
    vertical-align: super;
  }

  .myHeader,
  .extaInfo {
    display: none;
  }
}

@media screen and (min-width: 985px) {
  .myNav p {
    font-size: 1.8rem;
  }
  .myNav svg {
    flex-grow: 0;
  }

  .extaInfo {
    color: #f2f2f2;
    display: block;
    list-style-type: none;
    margin: 1rem 0;
    padding-left: 1rem;
    flex-grow: 1;
  }

  .extaInfo a {
    font-size: 1.2rem;
  }

  .extaInfo span {
    font-size: 1.6rem;
    padding-right: 0.2rem;
    vertical-align: bottom;
  }
}
