@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Rubik-Italic";
  src: url("../fonts/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
}
