:root {
  scroll-behavior: auto;
  /* Variables globales */
  --primary-color: #466f7a;
  --secondary-color: #c8effa;
  --tertiary-color: #f2f2f2;
  --tertiary-color-alpha: #f2f2f288;
  --quarter-color: #0288ad;
}

html {
  /* font-size: 62.5%; facilita el uso de medidas rem, usar rem en lugar de px mejora la accesibilidad, ya que permite a los navegadores usar reglas para escalar correctamente el contenido si es necesario */
  /* Nuevos ejemplos de medidas rem equivalentes a px: 1rem = 10px; 1.8rem = 18px; 18rem = 180px; .2rem = 2px;*/
  font-size: 62.5%;
  scroll-behavior: auto;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Rubik-Italic";
  src: url("../fonts/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
}
body {
  min-width: 32rem;
  position: relative;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
  font-size: 1.2rem;
}
p {
  font-size: 1.6rem;
}
#contenedorNovedades a,
.myHeader a,
.myNav a {
  text-decoration: none;
  color: unset;
}
.myHeader {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  display: flex;
  overflow: hidden;
  height: 5.6rem;
  position: relative;
  width: 100%;
  z-index: 10;
}
.text-bottom {
  vertical-align: text-bottom;
}
.myHeader span {
  font-size: 1.6rem;
  padding-right: 0.2rem;
  vertical-align: bottom;
}

.myHeader .header-info-center {
  padding: 1rem 0;
  flex-grow: 1;
}

.myHeader .header-info-center ul {
  font-size: 1.2rem;
  list-style-type: none;
  padding-left: 1rem;
}

.myHeader .header-info-right {
  font-size: 2.2rem;
  padding: 1rem 0;
}
form legend {
  font-size: 1.8rem;
}
.titulos,
.tgrande {
  font-size: 2.8rem;
  font-weight: 500;
  font-variation-settings: "wght" 500;
  text-align: center;
  margin-top: 15px;
  font-family: "Rubik", sans-serif;
}
.tgrande {
  font-size: 3.6rem;
  font-weight: 600;
  font-variation-settings: "wght" 600;
}

/* fin novedades */
/*integrantes */
.cajadegradado {
  padding: 1rem;
  background-color: White;
  background-image: linear-gradient(White, var(--secondary-color), white);
  -webkit-box-shadow: 1px 1px 14px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 14px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 14px 1px rgba(0, 0, 0, 0.75);
  border-radius: 0.8rem;
}
.color {
  color: var(--quarter-color);
  font-family: "Rubik-Italic", sans-serif;
  font-style: italic;
}

.otraletra {
  font-family: "Rubik-Italic", sans-serif;
  font-style: italic;
  font-size: 1.6rem;
}
/*integrantes*/
.contenedor-items-logos img {
  width: 10rem;
}

.item-logos {
  margin-bottom: 3rem;
}

.logos-cont {
  background-color: var(--secondary-color);
  border-radius: 1.5rem;
  padding-top: 1rem;
  max-width: 20rem;
  height: 10rem;
  margin: auto;
  margin-right: auto;
  margin-left: auto;
}
/*integrantes*/
.boton {
  font-weight: bold;
  font-size: 1.6rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 0.8rem;
  text-decoration: none;
  padding: 0.4rem;
}
.boton:hover {
  box-shadow: 0rem 1rem 1.5rem rgba(0, 0, 0, 0.5);
  transition: 800ms;
  text-decoration: none;
}
/*folletos*/
.imagenes {
  margin-top: 1.7rem;
  border-radius: 0.8rem;
}
.border-radius-8 {
  border-radius: 0.8rem;
}

/*material*/
.sombra:hover {
  box-shadow: 0rem 1rem 1.5rem rgba(0, 0, 0, 0.5);
  transition: 800ms;
}
@media screen and (min-width: 769px) {
  .hide-above-768 {
    display: none;
  }
}

@media screen and (max-width: 768.98px) {
  .hide-below-768 {
    display: none;
  }
}

/*contacto*/
.social-banner {
  width: 20rem;
}
